// main SASS file
@import "variables", "mixins", "queries";
/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/

*{
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:after,
    &:before{
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}
html{
    font-size: 16px;
    font-family: $fontmain; /* default for whole page */
    line-height: 1.6;
}
h1, h2, h3, h4{
    font-family: $fonthead; /* serif for the headings */
}
ul{
    list-style: none;
}
/***********************************************
                SPECIAL
***********************************************/

.clearfix{
    &:after{
    display:table;
    clear: both;
    content: "";
    }
}

/***********************************************
                LAYOUT
***********************************************/
.bg-header{
    background-color: $color-white;
    background-color:$color-lightblue;
    color: $color-darkgrey;
    border-bottom:1rem solid $color-medblue;
    border-top:1rem solid $color-darkblue;
    position: relative;

    &:before,
    &:after{
        content:"";
        position:absolute;
        bottom:-1rem;
        width:30%;
        height:1rem;
        background-color: $color-darkblue;
    }

    &:before{
        left:0;
    }
    &:after{
        right:0;
    }
}
.bg-focal{
    background-color: $color-lightbrown;
    color: $color-darkbrown;
}
.bg-content1{
    background-color: $color-white;
    color: $color-darkgrey;
}
.bg-content2{
    background-color: $color-lightblue;
    color: $color-darkblue;
}
.bg-footer{
    background-color: $color-white;
    color: $color-lightgrey;
}
header{
    width: 400px; /* default */
    margin: 0 auto;
    position: relative;
    @include minlayout{
        width: 700px;
        margin: 0 auto;
        min-height: 8rem;
        }
    @include midlayout{
        width: 1400px;
        margin: 0 auto;
        }
     @include maxlayout{
        width: 900px;
        margin: 0 auto;
        }
    &:before,
    &:after{
        @include minlayout{
            width:230px;
        }
        @include midlayout{
            width:300px;
        }
        @include maxlayout{
            width: 450px;
        }
    }
    
    h1{
        width: 100%;
        padding: 0 2rem;
        @include minlayout{
            width: 100%;
            color: $color-darkbrown;
        }
        @include midlayout{
            width: 100%;
            color: $color-darkblue;
        }
        @include maxlayout{
             width: 100%;
             color: $color-darkbrown;
        }
    }
    nav{
        width: 100%;
        @include minlayout{
            position: static;
            clear:both;
            width: 100%;
            padding: 0;
        }
        @include midlayout{
            position: static;
            clear:both;
            width: 100%;
            padding: 0;
        }
        @include maxlayout{
            position: static;
            clear:both;
            width: 100%;
            padding: 0;
        }
    }
    nav>ul li{
        width:100%;
        float: none;
        @include minlayout{
            width:20%;
            float: left;
        }
         @include midlayout{
            width:20%;
            float: left;
            background-color: $color-white;
        }
         @include maxlayout{
            width:20%;
            float: left;
            background-color: $color-white;
        }
    }
}

.focal{
        width: 400px; /* default */
        margin: 0 auto;
        @include minlayout{
              width: 700px; 
              margin: 0 auto;  
        } 
        @include midlayout{
              width: 900px; 
              margin: 0 auto;  
        } 
        @include maxlayout{
              width: 1400px; 
              margin: 0 auto;  
        } 
}
.content1{
        padding: 2rem 0;
        @include minlayout{
               width: 700px; 
               margin: 0 auto;  
        } 
        @include midlayout{
              width: 900px; 
              margin: 0 auto;  
        } 
        @include maxlayout{
              width: 1400px; 
              margin: 0 auto;  
        } 
     }
.content2{
    padding:2rem 0;
    @include minlayout{
           width: 700px; 
           margin: 0 auto;  
        } 
      @include midlayout{
           width: 900px; 
           margin: 0 auto;  
        } 
      @include maxlayout{
            width: 1400px; 
            margin: 0 auto;  
        } 
   }

.row{
   clear: both;
}
.col-3{
       @include midlayout{
          float:left;
          @include calculatewidth(3, 5%, 100%);
        } 
       @include maxlayout{
          float:left;
          @include calculatewidth(3, 5%, 100%);
        }
    }
.col-4{
       @include minlayout{ 
          width: 50%;
          float:left;
        } 
        @include midlayout{
           float:left;
           @include calculatewidth(4, 4%, 100%);
        }
        @include maxlayout{
           float:left;
           @include calculatewidth(4, 4%, 100%);
        } 
    }

footer {
    padding:2rem 0;
    @include minlayout{
           width: 700px; 
           margin: 0 auto;  
        } 
    @include midlayout{
           width: 900px; 
           margin: 0 auto;  
        } 
     @include maxlayout{
            width: 1400px; 
            margin: 0 auto;  
        } 
    .col-2{
        float:left;
        padding-bottom: 2rem;
        border-left:1px solid $color-darkblue;
        margin-bottom: 2rem;
        width:50%;
        &:first-child{
             border-left: 0;
        }
     }
    p:last-child{
    }
}

/***********************************************
                NAVIGATION
***********************************************/
header {
    nav{
        padding:2rem 0;
        clear: both;
    }
    nav>ul>li>a{
        display:block;
        text-align: center;
        text-decoration: none;
        color: $color-darkgrey;    
        font-size: 1.414rem;
        letter-spacing: 0.25rem;
        border:1px solid $color-lightgrey; 
        border-bottom: none;
        padding:1.0rem 2rem;
        line-height: 1;
        background-color: $color-white;
        @include minlayout{
             font-size: 1rem;
             line-height: 2rem;
             min-height: 6rem;
             border:none;
             border-left:1px solid $color-lightgrey; 
             padding:1.0rem;
             background-color: $color-white;
        }
        @include midlayout{
             font-size: 1rem;
             line-height: 2rem;
             min-height: 2rem;
             border:none;
             border-left:1px solid $color-lightgrey; 
             padding: 0 1.0rem;
             margin: 1.0rem 0;
             background-color: $color-white;
        }
         @include maxlayout{
             font-size: 1.414rem;
             line-height: 2rem;
             min-height: 2rem;
             border:none;
             border-left:1px solid $color-lightgrey; 
             padding:0 1.0rem;
             margin:1.0rem 0;
             background-color: $color-white;
        }
        &:last-child{
            @include minlayout{
                border-right:1px solid $color-lightgrey;
            }
            a{
              @include midlayout{
                   border-left:none;
               }
              @include maxlayout{
                   border-left:none;
               }
            }
        }
        &:hover{
            font-weight: 700;
            color:$color-darkbrown;
        }
    }
}

/***********************************************
                CONTENT
***********************************************/
header{
    h1{
        color: $color-darkbrown;
        letter-spacing: 0.1rem;
    
        i.fa-lg{
            display:block;
            width: 25%;
            float:left;
            font-size: 7rem;
            line-height: 12.7936rem;
            color: $color-lightbrown;
            @include minlayout{
                display:inline;
                color: $color-darkbrown;
                vertical-align:baseline;
                float:none;
                font-size: 4rem;
                line-height: 6.3968rem;
            }
            @include midlayout{
                 display:inline;
                 color: $color-darkblue;
                 vertical-align:baseline;
                 float:none;
                 font-size: 4rem;
                 line-height: 6.3968rem;
            }
             @include maxlayout{
                  display:inline;
                  color: $color-darkbrown;
                  vertical-align:baseline;
                  float:none;
                  font-size: 4rem;
                  line-height: 6.3968rem;
            }
            ~ span{
                float: right;
                width: 75%;
                font-size: 3.998rem; 
                padding-left: 1rem;
                text-align: right;
                @include minlayout{
                     float: none;
                     letter-spacing: 0.25rem;
                     font-size: 3.998rem;
                     text-align: left;
                }
                @include midlayout{
                     float: none;
                     letter-spacing: 0.25rem;
                     font-size: 3.998rem;
                     text-align: left;
                }
                 @include maxlayout{
                     float: none;
                     letter-spacing: 0.25rem;
                     font-size: 3.998rem;
                     text-align: left;
                }
            }
        }
    }
}
.focal{
    h2{
        font-size: 1.999rem;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
        @include midlayout{
                     width: 600px; 
                     margin: 0 auto;
                }
         @include maxlayout{
                    font-size: 3.998rem;
                    width: 600px; 
                    margin: 0 auto;
                }
    }
    .author{
        font-size: 1rem;
        padding: 0.2rem 2rem 2rem;
         @include midlayout{
                      width: 600px; 
                      margin: 0 auto;
                }
         @include maxlayout{
                      width: 600px; 
                      margin: 0 auto;
                }
    }
}
.content1{
    h3{
        font-size:1.999rem;
        padding: 0.2rem 2rem 2rem;
        i{
            vertical-align:middle;
            padding-right: 2rem;
        }
        @include midlayout{
                     font-size: 1.999rem;
                     font-weight: 100;
                }
         @include maxlayout{
                     font-size: 2.827rem;
                     font-weight: 100;
                }
        .fa-2x{
            @include midlayout{
                    font-size: 1.999rem;
                    padding-right: 1rem;
                }
            @include maxlayout{
                    font-size: 2.827rem;
                    padding-right: 1rem;
                    vertical-align: middle;
                } 
          } 
      }

    p{
        font-size: 1.414rem;
        padding: 0.5rem 2rem 2rem;
    }
}
.content2{
    h3{
        font-size: 1.999rem;
        padding: 1rem 2rem 0.5rem;
    }
    h4{
        font-size: 1.999rem;
        padding: 1rem 2rem 0rem;
        @include minlayout{
                      font-size: 1.414rem;
                }
        @include midlayout{
                      font-size: 1.414rem;
                }
        @include maxlayout{
                      font-size: 1.999rem;
                }
       
    }
    p{
        font-size: 1.414rem;
        padding: 0.5rem 2rem 1rem;
        @include midlayout{
                    font-size: 1rem;
                    font-weight: 400;
                }
         @include maxlayout{
                     font-size: 1.414rem;
                     font-weight: 400;
                }
    }
    li{
        padding: 0.5rem 2rem;
        font-size: 1.414rem;
        @include minlayout{
                      font-size: 1.414rem;
                }
        @include midlayout{
                      font-size: 1.414rem;
                }
        @include maxlayout{
                      font-size: 1.999rem;
                }
    } 
}
/***********************************************
                FOOTER
***********************************************/
footer{
    h4{
        font-size: 1.414rem;
        padding: 0.5rem 2rem;
        color: $color-darkbrown;
    }
    p{
        font-size: 1rem;
        padding: 0.5rem 2rem;
        color: $color-darkgrey;
        @include maxlayout{
                       font-size: 1.414rem;
                       letter-spacing: 0.2rem;
                }
        &:last-child{
            @include maxlayout{
                       color: $color-lightgrey;
                }
        }
    }
    .fa-circle{
        color: $color-darkgrey;
        @include minlayout{
             color: $color-medblue;
        }
         @include midlayout{
             color: $color-lightbrown;
        }
         @include maxlayout{
             color: $color-medblue;
        }
    }
    .col-2{
        &:last-child{
            @include minlayout{
                unicode-bidi: bidi-override;
                direction: rtl;
                }
            }
        }

    h4[lang=de]{
        display:block;
        @include minlayout{
                 display:none;
                }
        @include midlayout{
                 display:none;
                }
        @include maxlayout{
                 display:none;
                }
    }
    h4[lang=en]{
         display:none;
         @include minlayout{
                 display:none;
                }
        @include midlayout{
                 display:none;
                }
        @include maxlayout{
                 display:block;
                }
    }
    h4[lang=ar]{
         display:none;
         @include minlayout{
                display:block;
                }
         @include midlayout{
                 display:none;
                }
        @include maxlayout{
                 display:none;
                }
    }
    h4[lang=ru]{
        display:none;
        @include minlayout{
                 display:none;
                }
        @include midlayout{
                 display:block;
                }
        @include maxlayout{
                 display:none;
        } 
    }
}
